.Calculator {
   --main-bg-color: hsl(222, 26%, 31%);
   --toggle-bg-color: hsl(223, 31%, 20%);
   --screen-bg-color: hsl(224, 36%, 15%);

   --key-bg-color: hsl(225, 21%, 49%);
   --key-shadow-color: hsl(222, 26%, 31%);

   --key-sum-color: hsl(6, 63%, 50%);
   --key-sum-shadow-color: hsl(6, 70%, 34%);

   --basic-key-color: hsl(30, 25%, 89%);
   --basic-key-shadow-color: hsl(28, 16%, 65%);

   --text-dark-color: hsl(221, 14%, 31%);
   --text-bright-color: hsl(0, 0%, 100%);

   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   background-color: var(--main-bg-color);
   background-image: url("../../../assets/matht.PNG");
   background-size: contain;
}

.Body {
   align-self: center;
   justify-self: center;
   color: var(--text-bright-color);

   min-width: 400px;
   width: 30%;
}

.Header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
}

.ThemeButton {
   font-size: large;
   height: 40px;
   border: none;
   border-radius: 8px;
   background-color: var(--basic-key-color);
   box-shadow: 0 5px var(--basic-key-shadow-color);
}

.Display {
   width: 100%;
   height: 100px;
   background-color: var(--screen-bg-color);
   color: var(--text-dark-color);

   border: none;
   border-radius: 8px;
   box-sizing: border-box;
   padding: 40px 30px 30px;

   display: flex;
   justify-content: right;
   align-items: center;

   font-size: 50px;
   font-weight: 600;
   text-wrap: none;
   white-space: nowrap;
   overflow: hidden;

   anchor-name: --a1;
}

.Display[data-theme="aquatic"] {
   color: var(--text-bright-color);
}

.Display:focus {
   outline: none;
}

.Display::after {
   content: "";

   position: absolute;
   position-anchor: --a1;
   position-area: center span-right;

   width: 80px;
   height: anchor-size();
   border-radius: 8px 0 0 8px;

   background: linear-gradient(
      to left,
      transparent,
      var(--screen-bg-color) 40px
   );
}

.Keyboard {
   margin-top: 20px;
   padding: 25px;
   border-radius: 8px;
   background-color: var(--toggle-bg-color);
   display: grid;
   grid-template: repeat(5, 1fr) / repeat(4, 1fr);
   grid-gap: 20px;
}

.CalculatorKey {
   font-size: xx-large;
   font-weight: 700;
   height: 50px;
   border: none;
   border-radius: 8px;

   color: var(--text-dark-color);
   background-color: var(--basic-key-color);
   box-shadow: 0 5px var(--basic-key-shadow-color);
}

.CalculatorKey.delete {
   color: var(--text-bright-color);
   background-color: var(--key-bg-color);
   box-shadow: 0 5px var(--key-shadow-color);
}

.CalculatorKey.reset {
   color: var(--text-bright-color);
   background-color: var(--key-bg-color);
   box-shadow: 0 5px var(--key-shadow-color);

   grid-column: 1/3;
   width: inherit;
}

.CalculatorKey.submit {
   color: var(--text-bright-color);
   background-color: var(--key-sum-color);
   box-shadow: 0 5px var(--key-sum-shadow-color);

   grid-column: 3/5;
}
